<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;"  th:fragment="add_todo_modal" xmlns:th="http://www.thymeleaf.org">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div id="todo_form">
              <h2>Append TODO List</h2>
              <form action="/" method="post">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">ToDo</span>
                  </div>
                  <input type="text" class="form-control" name="todo" />
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">personInCharge</span>
                  </div>
                  <input type="text" class="form-control" name="personInCharge" />
                </div>
                <button type="submit" class="btn btn-primary btn-default btn-lg mb-3" >SUBMIT</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>